.container
  .jumbotron
    %h2
      Let's start by creating an
      %strong admin
      for your
      %strong household
    %p{style: 'margin-top: 30px'}
      = form_for(@admin, url: init_path, html: { class: 'form-horizontal center' }) do |f|
        .field.form-group
          = f.label :name, class: 'col-sm-4 control-label'
          .col-sm-6
            = f.text_field :name, class: 'form-control'

        .field.form-group
          = f.label :email, class: 'col-sm-4 control-label'
          .col-sm-6
            = f.email_field :email, class: 'form-control'

        .field.form-group
          = f.label :password, class: 'col-sm-4 control-label'
          .col-sm-6
            = f.password_field :password, class: 'form-control'

        .field.form-group
          = f.label :password_confirmation, class: 'col-sm-4 control-label'
          .col-sm-6
            = f.password_field :password_confirmation, class: 'form-control'

        .actions.form-group{style: 'margin-top: 30px; margin-bottom: -20px'}
          = f.submit 'Create', class: 'btn btn-lg btn-block btn-primary'
