.container
  .jumbotron
    %h2
      Let's start by creating an
      %strong admin
      for your
      %strong household
    %p{style: 'margin-top: 30px'}
      = simple_form_for(@admin, url: init_path, html: { class: 'form-horizontal center' }) do |f|
        = f.error_notification

        = f.input :name, required: true, autofocus: true
        = f.input :email, required: true
        = f.input :password, required: true
        = f.input :password_confirmation, required: true

        = f.button :submit, 'Go!', class: 'btn-lg btn-block btn-primary'
